{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}
<div class="row">
    <div class="col">
        <form  class="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>Are you sure you want delete {{ category.name }}</h1>
            <div class="d-none d-lg-block d-xl-block">
                {% bootstrap_button "Delete" button_type="submit" button_class="btn-primary" %}
                <a href="{% url 'core:index' %}" class="btn-danger">Cancel</a>
            </div>
            <div class="d-lg-none d-xl-none">
                {% bootstrap_button "Delete" button_type="submit" button_class="btn btn-danger btn-lg btn-block" %}
                <a href="{% url 'core:index' %}" class="btn btn-warning btn-lg btn-block">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}