{% extends 'base.html' %}

{% load bootstrap4 static i18n %}

{% block content %}
<div class="row">
    <a href="{% url 'core:create_category' %}" class="btn">{% trans 'Create new category' %}</a>
</div>
<div class="row">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        {% trans 'Categories' %}
      </div>
      <ul class="list-group list-group-flush">
        {% if object_list %}
            {% for category in object_list %}
          <li class="list-group-item">{{ category.name }}  <p class="float-right"><a href="{% url 'core:delete_category' category.pk %}">{% trans 'Delete' %}</a> <a href="{% url 'core:update_category' category.pk %}">{% trans 'Edit' %}</a></p></li>
            {% endfor %}
        {% else %}
          <li class="list-group-item">{% trans 'No categories' %}</li>
        {% endif %}
      </ul>
    </div>
</div>
{% endblock %}


